<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/logout" id="logout">Logout</a>
    </div>
  </div>
</nav>

<div class="row">
  <div id="sidebar" class="col-md-2">
    <p id="menu-heading" class="">Menu</p>
    <!-- div for listings -->
    <div id="menu" class="medium-unstack">
      <button class="menu-btn"><a class="nav-link" href="/members" style="color:black;">Dashboard</a></button>
      <button class="menu-btn"><a class="nav-link" href="/admin_events" style="color:black;">Events</a></button>
      <button class="menu-btn"><a class="nav-link" href="/admin_articles" style="color:black;">Articles</a></button>
      <button class="menu-btn"><a class="nav-link" href="/admin_links" style="color:black;">Links</a></button>
      <button class="menu-btn"><a class="nav-link" href="/signup" style="color:black;">Add User</a></button>
      <button class="menu-btn"><a class="nav-link" href="/#" style="color:black;">Messageboard (Coming
          Soon...)</a></button>
      <button class="menu-btn"><a class="nav-link" href="/feedback" style="color:black;">User Feedback</a></button>
    </div>
  </div>
  <div class="col-md-10 main-content justify-content-md-right">

    <h1>Manage Links</h1>

    <div class="card-body">
      <h3>Add Link</h3>

      <form id="link-add">
        <div class="form-group">
          <label for="link-title">Link Title</label>
          <input type="text" class="form-control" id="link-title">
        </div>
        <div class="form-group">
          <label for="URL-link">URL</label>
          <input type="text" class="form-control" id="URL-link">
        </div>
        <div class="form-group">
          <label for="link-labels">Section</label>
          <select class="form-control" id="link-labels" name="link-labels">
            <option value="businesses">Businesses</option>
            <option value="donations">Donations</option>
            <option value="petitions">Petitions</option>
          </select>
        </div>
        <input type="submit" value="Submit" class="btn btn-primary" id="event-submit">
      </form>

      <div class="table-responsive">
        <table id="feedback-table" class="table table-bordered table-sm " cellspacing="0" width="100%">
          <thead id="feedback-head">
            <tr>
              <th>ID</th>
              <th>Title</th>

              <th>Link</th>

              <th>Type</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>

            {{#each links}}
            {{links}}
            {{> linkPartial}}

            {{/each}}

          </tbody>
        </table>
      </div>
    </div>

    <h3>Edit Link</h3>

    <form id="link-form">
      <div class="form-group">
        <label for="link-id">Link ID</label>
        <input type="text" class="form-control" id="link-id">
      </div>
      <div class="form-group">
        <label for="link-text">Link text</label>
        <input type="text" class="form-control" id="link-text">
      </div>
      <div class="form-group">
        <label for="link-URL">URL</label>
        <input type="text" class="form-control" id="link-URL">
      </div>
      <div class="form-group">
        <label for="link-labels">Section</label>
        <select class="form-control" id="link-labels" name="link-labels">
          <option value="businesses">Businesses</option>
          <option value="donations">Donations</option>
          <option value="petitions">Petitions</option>
        </select>
      </div>
      <input type="submit" value="Submit" class="btn btn-primary" id="put-submit">
    </form>
  </div>
</div>

</div>
</div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="js/members.js"></script>
<script>


  $(document).ready(function () {

    $("#link-add").on("submit", function (event) {
      event.preventDefault();
      var input = {
        link_title: $("#link-title").val(),
        link_text: $("#URL-link").val(),
        link_type: $("#link-labels").val()
      }
      console.log(input);
      $.post("/api/links", input);
      $("#link-title").val(""),
        $("#URL-link").val(""),
        $("#link-labels").val("")
    });

    $("#link-form").on("submit", function (event) {
      event.preventDefault();
      var editInput = {
        id: $("#link-id").val(),
        link_title: $("#link-text").val(),
        link_text: $("#link-URL").val(),
        link_type: $("#link-labels").val(),
      }
      console.log(editInput);
      $.ajax({
        method: "PUT",
        url: "/api/links",
        data: editInput
      });
      $("#link-id").val("");
        $("#link-text").val("");
        $("#link-URL").val("");
        $("#link-labels").val("");
    });
  });
   
</script>
</body>