<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/logout" id="logout">Logout</a>
    </div>
  </div>
</nav>

<div class="row">
  <div id="sidebar" class="col-md-2">
    <p id="menu-heading" class="">Menu</p>
    <!-- div for listings -->
    <div id="menu" class="medium-unstack">
      <button class="menu-btn"><a class="nav-link" href="/members" style="color:black;">Dashboard</a></button>
      <button class="menu-btn"><a class="nav-link" href="/admin_events" style="color:black;">Events</a></button>
      <button class="menu-btn"><a class="nav-link" href="/admin_articles" style="color:black;">Articles</a></button>
      <button class="menu-btn"><a class="nav-link" href="/admin_links" style="color:black;">Links</a></button>
      <button class="menu-btn"><a class="nav-link" href="/signup" style="color:black;">Add User</a></button>
      <button class="menu-btn"><a class="nav-link" href="/#" style="color:black;">Messageboard (Coming
          Soon...)</a></button>
      <button class="menu-btn"><a class="nav-link" href="/feedback" style="color:black;">User Feedback</a></button>
    </div>
  </div>

  <div class="col-md-10 main-content justify-content-md-right">
    <h1>Manage Articles</h1>
    <div class="card-body">

      <h3>Add Article</h3>

      <form id="article-add">
        <div class="form-group">
          <label for="article-title">Title</label>
          <input type="text" class="form-control" id="article-title">
        </div>
        <div class="form-group">
          <label for="article-labels">Section</label>
          <select class="form-control" id="article-labels" name="article-labels">
            <option value="stories">Stories</option>
            <option value="vital-info">Vital Info</option>
            <option value="local-officials">Local Officials</option>
          </select>
        </div>
        <div class="form-group">
          <label for="article-body">Article body</label>
          <textarea class="form-control" id="article-text" rows="5"></textarea></textarea name="article-text">
        </div>
        <input type="submit" value="Submit" class="btn btn-primary" id="article-submit">
      </form>
    </div>

    <div class="table-responsive">
      <table id="articles-table" class="table table-bordered table-sm " cellspacing="0" width="100%">
        <thead id="articles-head">
          <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Author</th>
            <th>Source</th>
            <th>Body</th>
            <th></th>
            <th></th>

          </tr>
        </thead>
        <tbody>

          {{#each articles}}
          {{articles}}
          {{> articlesPartial}}

          {{/each}}

        </tbody>
      </table>

      <div class="card-body">
        <h3>Edit Article</h3>

        <form id="article-form">
          <div class="form-group">
            <label for="article-id">Article ID</label>
            <input type="text" class="form-control" id="article-id">
          </div>
          <div class="form-group">
            <label for="edit-article-text">Title</label>
            <input type="text" class="form-control" id="edit-article-text">
          </div>
          <div class="form-group">
            <label for="edit-article-labels">Section</label>
            <select class="form-control" id="edit-article-labels" name="edit-article-labels">
              <option value="stories">Stories</option>
              <option value="vital-info">Vital Info</option>
              <option value="local-officials">Local Officials</option>
            </select>
          </div>
          <div class="form-group">
            <label for="edit-article-body">Article body</label>
            <textarea class="form-control" id="edit-article-body" rows="5"></textarea></textarea>
            <input type="submit" value="Submit" class="btn btn-primary" id="article-submit">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="js/members.js"></script>
<script>

  $(document).ready(function () {
    $("#article-add").on("submit", function (event) {
      event.preventDefault();
      var input = {
        article_title: $("#article-title").val(),
        article_body: $("#article-text").val(),
        article_type: $("#article-labels").val(),
      }
      console.log(input);
      $.post("/api/articles", input);
      $("#article-title").val("");
      $("#article-text").val("");
      $("#article-labels").val("");
    });

    $("#article-form").on("submit", function (event) {
      event.preventDefault();
      var editInput = {
        id: $("#article-id").val(),
        article_title: $("#edit-article-text").val(),
        article_type: $("#edit-article-labels").val(),
        article_body: $("#edit-article-body").val(),
      }
      console.log(editInput);
      $.ajax({
        method: "PUT",
        url: "/api/articles",
        data: editInput
      });
      $("#article-id").val("");
      $("#edit-article-text").val("");
      $("#edit-article-labels").val("");
      $("#edit-article-body").val("");
      location.reload(true);
    });
  });
</script>
</body>