<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/logout" id="logout">Logout</a>
    </div>
  </div>
</nav>

<div class="row">
  <div id="sidebar" class="col-md-2">
    <p id="menu-heading" class="">Menu</p>
    <!-- div for listings -->
    <div id="menu" class="medium-unstack">
      <button class="menu-btn"><a class="nav-link" href="/members" style="color:black;">Dashboard</a></button>
      <button class="menu-btn"><a class="nav-link" href="/admin_events" style="color:black;">Events</a></button>
      <button class="menu-btn"><a class="nav-link" href="/admin_articles" style="color:black;">Articles</a></button>
      <button class="menu-btn"><a class="nav-link" href="/admin_links" style="color:black;">Links</a></button>
      <button class="menu-btn"><a class="nav-link" href="/signup" style="color:black;">Add User</a></button>
      <button class="menu-btn"><a class="nav-link" href="/messageboard" style="color:black;">Messageboard (Coming
          Soon...)</a></button>
      <button class="menu-btn"><a class="nav-link" href="/feedback" style="color:black;">User Feedback</a></button>
    </div>
  </div>
  <div class="col-md-10 main-content justify-content-md-right">
    <h1>Manage Events</h1>
    <div class="card-body">
      <h3>Add Event</h3>

      <form id="event-form">
        <div class="form-group">
          <label for="event-title">Title</label>
          <input type="title" class="form-control" id="event-title">
        </div>
        <div class="form-group">
          <label for="event-start">Start Date</label>
          <input type="date" class="form-control" id="event-start">
        </div>
        <!--<div class="form-group">
        <label for="event-text">Start Time</label>
        <input type="time" class="form-control" id="event-text">
      </div>-->
        <div class="form-group">
          <label for="event-end">End Date</label>
          <input type="date" class="form-control" id="event-end">
        </div>
        <!--<div class="form-group">
        <label for="event-text">End Time</label>
        <input type="time" class="form-control" id="event-text">
      </div>-->
        <div class="form-group">
          <label for="event-org">Organization</label>
          <input type="text" class="form-control" id="event-org">
        </div>
        <div class="form-group">
          <label for="event-loc">Location</label>
          <input type="text" class="form-control" id="event-loc">
        </div>
        <div class="form-group">
          <label for="event-type">Event Type</label>
          <select class="form-control" id="event-type" name="event-type">
            <option value="protests">Protests</option>
            <option value="government-events">Local Government Events</option>
            <option value="dates">Dates</option>
          </select>
        </div>
        <input type="submit" value="Submit" class="btn btn-primary" id="event-submit">

      </form>

      <div class="table-responsive">
        <table id="events-table" class="table table-bordered table-sm" cellspacing="0" width="100%">
          <thead id="events-head">
            <tr>
              <th>ID</th>
              <th>Title</th>
              <th>Start Time</th>
              <th>End Time</th>
              <th>Organizers</th>
              <th>location</th>
              <th>Type</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>

            {{#each events}}
            {{events}}
            {{> eventsPartial}}

            {{/each}}

          </tbody>
        </table>
        <div class="card-body">
          <h3>Edit Event</h3>

          <form id="event-edit">
            <div class="form-group">
              <label for="event-id">Event ID</label>
              <input type="text" class="form-control" id="event-id">
            </div>
            <div class="form-group">
              <label for="edit-event-title">Title</label>
              <input type="title" class="form-control" id="edit-event-title">
            </div>
            <div class="form-group">
              <label for="edit-event-start">Start Date</label>
              <input type="date" class="form-control" id="edit-event-start">
            </div>
            <!--<div class="form-group">
        <label for="event-text">Start Time</label>
        <input type="time" class="form-control" id="event-text">
      </div>-->
            <div class="form-group">
              <label for="edit-event-end">End Date</label>
              <input type="date" class="form-control" id="edit-event-end">
            </div>
            <!--<div class="form-group">
        <label for="event-text">End Time</label>
        <input type="time" class="form-control" id="event-text">
      </div>-->
            <div class="form-group">
              <label for="edit-event-org">Organization</label>
              <input type="text" class="form-control" id="edit-event-org">
            </div>
            <div class="form-group">
              <label for="edit-event-loc">Location</label>
              <input type="text" class="form-control" id="edit-event-loc">
            </div>
            <div class="form-group">
              <label for="edit-event-type">Event Type</label>
              <select class="form-control" id="edit-event-type" name="edit-event-type">
                <option value="protests">Protests</option>
                <option value="government-events">Local Government Events</option>
                <option value="dates">Dates</option>
              </select>
            </div>
            <input type="submit" value="Submit" class="btn btn-primary" id="event-submit">

          </form>
        </div>
      </div>
    </div>
  </div>
</div>

</div>
</div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="js/members.js"></script>
<script>
  $(document).ready(function () {

    $("#event-form").on("submit", function (event) {
      event.preventDefault();
      var input = {
        title: $("#event-title").val(),
        start: $("#event-start").val(),
        end: $("#event-end").val(),
        groupId: $("#event-org").val(),
        location: $("#event-loc").val(),
        type: $("#event-type").val(),
      }

      console.log(input);
      $.post("/api/events", input);
      $("#event-title").val("");
      $("#event-start").val("");
      $("#event-end").val("");
      $("#event-org").val("");
      $("#event-loc").val("");
      $("#event-type").val("");
    });

    $("#event-edit").on("submit", function (event) {
      event.preventDefault();
      var editInput = {
        id: $("#event-id").val(),
        title: $("#edit-event-title").val(),
        start: $("#edit-event-start").val(),
        end: $("#edit-event-end").val(),
        groupId: $("#edit-event-org").val(),
        location: $("#edit-event-loc").val(),
        type: $("#edit-event-type").val(),
      }
      console.log(editInput);
      $.ajax({
        method: "PUT",
        url: "/api/events",
        data: editInput
      });
      $("#event-id").val("");
      $("#edit-event-title").val("");
      $("#edit-event-start").val("");
      $("#edit-event-end").val("");
      $("#edit-event-org").val("");
      $("#edit-event-loc").val("");
      $("#edit-event-type").val("");
      location.reload(true);s
    });
  });
</script>

</body>